<div class="navbar">
    <div class="nav-links">
      <div class="company_logo">
        <a class="wideDiv" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
          <img class="wideDiv" src="assets/images/common/Metro-Exodus-Logo.png" alt="Metro">
        </a>
      </div>
      <div class="nav-link">
        <a routerLink="news" routerLinkActive="active" ariaCurrentWhenActive="page">News</a>
      </div>
      <div class="nav-link" style="width: 15%;">
        <a routerLink="storySoFar" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
      </div>
    </div>
    <div class="user-auth-link">
      <div class="preorder-link">
        <a routerLink="login" routerLinkActive="active" >Login</a>
      </div>
      <div class="signup-link">
        <a routerLink="signup" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
      </div>
    </div>
</div>
