<div class="flex h-screen dashboard">
    <div class="flex h-full sidebar flex-col" >
        <div class="w-full my-3">
            <a routerLink="">
                <img src="assets/icons/dashboard.png" />
            </a>
        </div>
        <div class="w-full my-3">
            <a routerLink="chatList">
                <img src="assets/icons/chat.png" />
            </a>
        </div>
        <div class="w-full my-3">
            <a routerLink="profile">
                <img src="assets/icons/profile.png" />
            </a>
        </div>
        <div class="w-full my-3">
            <a href="purchaseList">
                <img src="assets/icons/cart.png"/>
            </a>
        </div>
        <div class="w-full my-3">
             <a href="deletedItem">
                <img src="assets/icons/deleted.png" />
             </a>
        </div>
    </div>
    <div>
        <h1 class="text-white m-4 " style="font-size: 2rem;">This is dashboard</h1>
    </div>
</div>