<router-outlet></router-outlet>
<div class="p-3 w-full app-footer ">
  <div class="w-full flex">
    <div class="w-2/5">
      <img class="w-2/5 m-auto" src="assets/images/common/Metro-Exodus-Logo.png" alt="">
    </div>
    <div class="w-1/5 ">
      <ul class="p-4">
        <li><a href="">Weekly Themes</a></li>
        <li><a href="">PreSale Pass</a></li>
        <li><a href="">Saubmit Ticket</a></li>
      </ul>
    </div>
    <div class="w-1/5">
      <ul class="p-4">
        <li><a href="">Services</a></li>
        <li><a href="">Theme Treak</a></li>
      </ul>
    </div>
    <div class="w-1/5">
      <ul class="p-4">
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Affiliates</a></li>
        <li><a href="">Resources</a></li>
      </ul>
    </div>
  </div>
  <div class="w-full">
    <div class="w-1/5 m-auto icon-list">
      <ng-icon class="scoials-icon" name="bootstrapFacebook"></ng-icon>
      <ng-icon class="scoials-icon" name="bootstrapTwitter"></ng-icon>
      <ng-icon class="scoials-icon" name="bootstrapGoogle"></ng-icon>
      <ng-icon class="scoials-icon" name="bootstrapYoutube"></ng-icon>
      <ng-icon class="scoials-icon" name="bootstrapInstagram"></ng-icon>
    </div>
  </div>
</div>