$blackWash : #0B0C10;
$infinity : #1F2822;
$ilverPolish : #C5C6C7;
$poseiden : #66FCF1;
$keppel : #45A29E;
$dmSans : "DM Sans", sans-serif;


.home-page{
    background-image: url("../../../assets/images/home/home-background.jpg");
    background-size: cover;
}