<div class="flex h-screen dashboard">
    <div class="flex h-full sidebar flex-col" >
        <div class="w-full my-2">
            <a routerLink="">
                <img src="assets/icons/dashboard.png" />
            </a>
        </div>
        <div class="w-full my-2">
            <a routerLink="">
                <img src="assets/icons/chat.png" />
            </a>
        </div>
        <div class="w-full my-2">
            <a routerLink="profile">
                <img src="assets/icons/profile.png" />
            </a>
        </div>
        <div class="w-full my-2">
            <a href="">
                <img src="assets/icons/cart.png"/>
            </a>
        </div>
        <div class="w-full my-2">
             <a href="">
                <img src="assets/icons/deleted.png" />
             </a>
        </div>
    </div>
    <div class="w-full">
        <h1 class="text-white">This is Purchase List</h1>
    </div>
</div>